<div *ngFor="let partition of partitions; let y = index"
(cdkDropDropped)="dropped($event)">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event,y)"
  >
    <div
      class="example-box"
      *ngFor="let note of partition; let i = index"
      cdkDrag
    >
      {{note}}<span class="sup" (click)="sup(i,y)">-</span>
    </div>
    <div class="example-box add" (click)="add(y)">+</div>
  </div>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
