<div cdkDropListGroup *ngIf="activateReorder">
  <div
    cdkDropList
    [cdkDropListData]="partitions"
    (cdkDropListDropped)="drop2($event)"
    cdkDragLockAxis="y"
  >
    <div *ngFor="let partition of partitions; let y = index" cdkDrag>
      <div
        cdkDropList
        [cdkDropListData]="partition"
        cdkDropListOrientation="horizontal"
        class="partition"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="notes"
          *ngFor="let note of partition; let i = index"
          cdkDrag
        >
          {{note[0]}}
          <span
            class="bpm"
            [ngStyle]="{'width':note[1] ? (bpm/note[1]*bpm)/3+'px':bpm/3+'px'}"
          ></span>
          <span class="sup" (click)="sup(i,y)">-</span>
        </div>
        <div class="notes add" (click)="add(y)">+</div>
      </div>
    </div>
  </div>
</div>
<div cdkDropListGroup *ngIf="!activateReorder">
  <div *ngFor="let partition of partitions; let y = index">
    <div
      cdkDropList
      [cdkDropListData]="partition"
      cdkDropListOrientation="horizontal"
      class="partition"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="notes" *ngFor="let note of partition; let i = index" cdkDrag>
        {{note[0]}}
        <span
        class="bpm"
        [ngStyle]="{'width':note[1] ? (bpm/note[1]*bpm)/3+'px':bpm/3+'px'}"
      ></span>
        <span class="sup" (click)="sup(i,y)">-</span>
      </div>
      <div class="notes add" (click)="add(y)">+</div>
    </div>
  </div>
</div>
<div>
  <mat-divider></mat-divider>
  <button
    mat-icon-button
    color="primary"
    aria-label="add a partition"
    (click)="addPartion()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-slide-toggle [(ngModel)]="activateReorder"
    >Active setting order</mat-slide-toggle
  >
</div>
